{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %} Eliminar {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Eliminar Empleado
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
             Está seguro que desea eliminar al {{ persona.get_rango_grado_display }} {{ persona.nombres }} {{ persona.apellidos }}
          </h6>
          
          <br />

          <form role="form" method="post" action="">
            {% csrf_token %} 
            

            <button type="submit" name="login" class="btn btn-danger pull-left">Eliminar</button>


            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}