

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://www.creative-tim.com/product/material-dashboard-django">
                   Diseñado con Python Django Bootstrap y Postresqul
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://www.utpl.edu.ec/">UTPL</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="#">Diego Celi</a>
          </div>
        </div>
    </footer>
