    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           target="_blank" rel="noopener noreferrer" 
           href="{% url 'personal:home' %}" class="simple-text logo-normal">
          policia nacional
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active %}">
            <a class="nav-link" href="{% url 'personal:persona_list' %}">
              <i class="material-icons">person</i>
              <p>Personal</p>
            </a>
          </li>
        </ul>
      </div>

    </div>
